* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading h1 {
    text-align: center;
    margin-top: 150px;
}

.main_div {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_div input {
    padding: 8px 20px;
}

button {
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: transparent;
}